<!-- 글목록 뜨고 글쓰기 버튼 있는 페이지 -->

<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>crud연습</title>
</head>
<body>

    <!-- 글쓰기 링크(버튼) -->
    <a href="{% url 'newblog' %}">글쓰기</a>

    <!-- 블로그 글을 띄우는 부분 -->
    {% for blog in blogs %}
        <h2>{{blog.title}}</h2>
        <h5>{{blog.pub_date}}</h5>
        <p>{{blog.body}}</p>
        {% ifequal False blog.notice_or_not %}
            <p>공지글이 아닙니다.</p>
        {% endifequal %}
        {% ifequal True blog.notice_or_not %}
            <p>공지글 입니다.</p>
        {% endifequal %}
        <a href="{% url 'update' blog.id%}">수정</a>
        <a href="{% url 'delete' blog.id%}">삭제</a>
        <hr>
    {% endfor %}

</body>
</html>